<h1 class="about__about-title">鉄分とは？</h1>
<div class="about__about-body">
  <p>ここでは人間に必要なあの鉄分ではなく、</p>
  <p>「鉄道に支えられている部分や、割合あるいは充実度」を表す言葉の略語である、「<strong>鉄分</strong>」を指します。</p>
  <p>とは言いながらも、当サイトは鉄道ファン / 非鉄道ファン問わず、</p>
  <p>このご時世で外出が難しくなった中でも鉄道を楽しみたいという方の為に、</p>
  <p>少しでも尽力できればいいなと考えております。</p>
  <p>どうかこの「<strong>鉄分</strong>」を楽しんでください。</p>
</div>