<section class="link-buttons">
  <div class="link-buttons__edit">
    <%= link_to '編集ページへ', edit_train_path(train.id), class: "btn btn-primary" %>
  </div>

  <!-- 投稿者本人かそうでないかで表示内容とリンク先を分ける -->
  <div class="link-buttons__user">
    <% unless @train.user == current_user %>
      <%= link_to 'ユーザページへ', user_path(train.user), class: "btn btn-info" %>
    <% else %>
      <%= link_to 'マイページへ', user_path(user), class: "btn btn-info" %>
    <% end %>
  </div>

  <div class="link-buttons__home">
    <%= link_to 'ホームへ', root_path, class: "btn btn-secondary", data: {"turbolinks" => false } %>
  </div>
</section>