<!-- 投稿編集画面 -->
<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h1 class="heading">投稿編集画面</h1>
  		<%= render 'shared/trains/train-edit-form', train: @train %>

  		<!-- 各リンクを表示 -->
  		<div class="links">
  		  <%= link_to '詳細ページへ', train_path(@train), class: "btn btn-primary" %>　|　<%= link_to 'ホームへ', root_path, class: "btn btn-secondary", data: {"turbolinks" => false} %>
  		</div>
    </div>
  </div>
</div>
<script>
  window.onload = addToEditUrl();
</script>