<!-- 非ログイン時のヘッダー表示 -->
<li class="balloonoya">
  <%= link_to '', trains_path, class: 'fas fa-folder nav-link text-white', id: "nav-link10" %>
  <span class="balloon">記事一覧</span>
</li>
<li class="balloonoya">
  <%= link_to '', new_user_registration_path, method: :get, class: 'fas fa-user-plus nav-link text-white', id: "nav-link6" %>
  <span class="balloon">新規登録</span>
</li>
<li class="balloonoya">
  <%= link_to '', new_user_session_path, method: :get, class: 'fas fa-sign-in-alt nav-link text-white', id: "nav-link7" %>
  <span class="balloon">ログイン</span>
</li>