<div class="right-message">
  <div class="balloon-right">
    <strong class="my-message"><%= message.message %></strong>
  </div>
</div>
<div class="right-link">
  <%= link_to "削除", message_path(message.id), method: :delete, remote: true, class: "btn btn-danger", data: { confirm: 'このメッセージを削除しますか？' } %>
</div>