<!-- チャットルーム一覧画面 -->
 <div class="container">
   <div class="row">
      <div class="col-sm-10 mx-auto">
        <h2 class="heading">チャットルーム一覧</h2>

        <!-- チャットルームの有無で表示を分ける -->
        <% if @rooms.empty? %>
          <h3 class="no-message">メッセージはありません</h3>
        <% else %>
          <section class="chat-rooms d-flex flex-row flex-wrap">
            <%= render 'shared/rooms/chat-table', rooms: @rooms %>
          </section>
        <% end %>
      </div>
   </div>
 </div>