// Place all the styles related to the favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.favorite-table {
  margin-top: 40px;
  margin-bottom: 20px;
  min-height: 70vh;
  font-family: 'Kosugi Maru', sans-serif;
}