// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// about
.about {
  &__about-title {
    font-family: 'Kiwi Maru', serif;
    font-weight: bold;
    text-align: center;
  }
  &__about-body {
    text-align: center;
    font-family: 'Kiwi Maru', serif;
  }
}

.about__about-title {
  margin-top: 30px;
}

.about__about-body {
  margin-top: 20px;
}

// 新着投稿
.new-train-posts {
  &__heading {
    font-family: 'Kiwi Maru', serif;
    text-align: center;
    font-weight: bold;
  }
}

// タイムライン
.timeline {
  &__heading {
    font-family: 'Kiwi Maru', serif;
    text-align: center;
    font-weight: bold;
  }
}

// 新着投稿、タイムラインの共通
.new-train-posts,
.timeline {
  margin-top: 30px;
}

// 新着投稿リンク
.link {
  margin: 40px 0;
}