// Place all the styles related to the notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 通知全削除ボタン
.notification_all_delete {
  margin-top: 30px;
  text-align: center;
  font-family: 'Kosugi Maru', sans-serif;
}

// 通知一覧の表示
.notification-table {
  margin: 40px 0;
  font-family: 'Kosugi Maru', sans-serif;
  min-height: 70vh;
}

// 通知画面に表示されるユーザイメージ
.notification-content .profile_image {
  border-radius: 100%;
}