// Place all the styles related to the relationships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// フォロー/フォロワーがいない時の表示
.no-follows,
.no-followers {
  min-height: 60vh;
  font-family: 'Kiwi Maru', serif;
  margin: 40px 0;
}

// フォロー/フォロワーがいる時の表示
.followers,
.follows {
  margin: 40px 0;
  min-height: 60vh;
}

// フォロー/フォロワーのユーザイメージ
.followers .profile_image,
.follows .profile_image {
 border-radius: 100%;
}

// フォロー/フォロワーのリスト
.user-lists {
  width: 450px;
  list-style: none;
  font-family: 'Kosugi Maru', sans-serif;
  margin: 0 auto;
  border-bottom: 1px solid #f0f8ff;
}

.user-lists .user-area {
  margin-top: 5px;
}

.user-area {
  display: flex;
}

// フォローボタン
.user-follow-button {
  margin-left: auto;
}

.user-lists li {
  display: inline;
  margin-right: 10px;
  margin-bottom: 30px;
}

// 10人目以降z
.user-lists:nth-child(10+n) {
  margin: 0;
}

/* スマートフォンサイズ（375px）以下の際に適用される設定 */
@media screen and (max-width: 375px) {
  .user-lists {
    display: flex;
    flex-wrap: wrap;
    width: 360px;
    margin: 0 auto;
  }

  .user-lists li {
    margin-right: 30px;
    margin-bottom: 30px;
  }

  .user-lists__follow-counts {
    margin-top: 10px;
  }
}