// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ユーザの検索結果表示
.user-lists {
  font-family: 'Kosugi Maru', sans-serif;
  list-style: none;
  border-bottom: 1px solid #f0f8ff;
}

.search-train,
.search-user {
  font-family: 'Kosugi Maru', sans-serif;
  margin: 30px 0;
}

.user-lists .user-area {
  margin-top: 5px;
}

.user-lists .introductions {
  margin-bottom:  10px;
}

.introduction {
  margin: 5px auto;
}

.search-result {
  margin-top: 20px;
  margin-bottom: 20px;
  min-height: 80vh;
}

.search-result .profile_image {
  border-radius: 100%;
}

// ページング
.pagination {
  justify-content: center;
  margin-bottom: 20px;
}

// 検索結果がない時
.no-user,
.no-train {
  text-align: center;
  font-family: 'Kosugi Maru', sans-serif;
}
