// Place all the styles related to the trains controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 記事一覧
.train-index {
  margin: 40px 0;
}

// 記事の詳細
.train-info {
  margin: 30px 0;
}

.train-info ul {
  list-style: none;
}

.train-info {
  font-family: 'Kosugi Maru', sans-serif;
  &__train-line {
    display: flex;
    font-size: 20px;
  }
  &__train-body {
    font-size: 20px;
  }
  &__train-body span {
    font-size: 18px;
  }
}

.train-info__train-line {
  margin-bottom: 10px;
}

.train-info__train-line strong {
  margin-right: 15px;
}

// 記事の画像
.image .train_image {
  margin-top: 20px;
  height: 400px;
  width: 97%;
}

// コメント欄
.train-comments {
  width: 97%;
  margin: 0 auto 30px;
}

// コメントフォーム
.comment-form {
  margin: 0 auto 40px;
  font-family: 'Kosugi Maru', sans-serif;
}

#comment-area textarea {
  width: 97%;
  height: 150px;
  margin: 0 auto;
}

#comment-area .btn {
  width: 97%;
}

// 新規投稿、編集フォーム
.train-new-form,
.train-edit-form {
  margin-top: 30px;
}

.form-group {
  font-family: 'Kosugi Maru', sans-serif;
}

.new-train-image .train_image,
.edit-train-image .train_image {
  height: 350px;
  width: 480px;
}

.train-new-form textarea,
.train-edit-form textarea {
  height: 150px;
  width: 480px;
}

.train-new-form .btn,
.train-edit-form .btn {
  width: 480px;
}

.form-group:last-child {
  margin-bottom: 30px;
}

// 編集画面のリンク
.links {
  margin-top: 20px;
  font-family: 'Kosugi Maru', sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.train-delete-link {
  margin-right: auto;
  margin-bottom: 20px;
}

.train-show-link {
  margin-right: auto;
  margin-bottom: 20px;
}

.go-home-link {
  margin-bottom: 20px;
}

// 詳細画面のリンク
.link-buttons {
  display: flex;
  justify-content: center;
}

.link-buttons__edit {
  margin-right: 50px;
}

.link-buttons__home {
  margin-left: 50px;
}

/* タブレットサイズ（768px）以下の際に適用される設定 */
@media screen and (max-width: 768px) {
  .new-train-image .train_image,
  .edit-train-image .train_image,
  .image .train_image {
    height: 350px;
    width: 95%;
  }

  .train-new-form textarea,
  .train-edit-form textarea {
    height: 150px;
    width: 95%;
  }

  .train-new-form .btn,
  .train-edit-form .btn {
    width: 95%;
  }

  #comment-area {
    margin: 0 auto;
  }

  .train-comments {
    width: 95%;
    margin: 0 auto 30px;
  }

  .comment-form {
    width: 95%;
    margin: 0 auto 20px;
  }

  #comment-area textarea {
    width: 100%;
    height: 100px;
  }

  #comment-area .btn {
    width: 100%;
  }

  .link-buttons__edit {
    margin-right: 25px;
  }

  .link-buttons__home {
    margin-left: 25px;
  }

  .links {
    width: 95%;
  }
}

/* スマートフォンサイズ（425px）以下の際に適用される設定 */
@media screen and (max-width: 425px) {
  .link-buttons {
    display: block;
  }

  .link-buttons__edit {
    margin-right: 0;
  }

  .link-buttons__home {
    margin-left: 0;
  }

  .new-train-image .train_image,
  .edit-train-image .train_image,
  .image .train_image {
    height: 300px;
    width: 93%;
  }

  .train-new-form textarea,
  .train-edit-form textarea {
    height: 150px;
    width: 93%;
  }

  .train-new-form .btn,
  .train-edit-form .btn {
    width: 93%;
  }

  .train-comments {
    width: 93%;
    margin: 0 auto 30px;
  }

  .comment-form {
    width: 93%;
    margin: 0 auto;
  }

  #comment-area textarea {
    width: 100%;
    height: 100px;
  }

  #comment-area .btn {
    width: 100%;
  }

  .link-buttons .btn {
    margin-bottom: 20px;
  }

  .links {
    display: block;
  }
}